.img-thumbnail {
    margin: 25px;
    width: 85%;
    width: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;

}

.form-inline label {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: large;
}

h4 {
    margin-top: 5px;
}